<h1 class="mt-5 text-center bg-light p-3">My saved items</h1>
<% if @car_records_in_saved_collection.any? %>
  <%= link_to(saved_collection_path, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'ml-5') do %>
    <div class="btn btn btn-warning">
      Clear the list
    </div>
  <% end %>
<% end %>
<%= render 'shared/car_records_saved_collection_listing', car_records: @car_records %>
