<h1 class="mt-5 text-center bg-light p-3">My saved items</h1>
<% if @car_records.blank? %>
  <h2 id="notice" class="text-center mt-3"><%= notice %></h2>
  <div class="container text-center mt-5 info_box">
    Your collection of saved items is currently empty.
    Add something to it!
  </div>
<% else %>
  <%= link_to(saved_collection_path, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'ml-5') do %>
    <div class="btn btn btn-warning">
      Clear the list
    </div>
  <% end %>
  <%= render 'shared/car_records_listing', car_records: @car_records %>
<% end %>
