<h2>Dear, <%= @user.name %>.</h2>
<h3>Your have registered an account on CarStore using this email.</h3>
<h3>Please, confirm the action - http://localhost:3000/user/confirm?token=<%= @user.confirmation_token %>.
</h3> <!-- ToDo: set it to real hosting after deploy -->

<h3>If you think, that this mail was sent to you by mistake, simply ignore it.</h3>