<div class="d-flex align-items-center h-100 justify-content-center">
  <div class="h-auto p-3 rounded bg-light block-shadow">
    <h1 class="text-center p-3 rounded bg-white"><%= @info %></h1>
  </div>
</div>
