<div class="d-flex align-items-center h-100 justify-content-center mt-5">
  <div class="h-auto p-3 rounded bg-light block-shadow">
    <h1 class="text-center p-3 rounded bg-white">Order is successfully confirmed!</h1>
    <h4 class="text-center">Thank you for making order request on CarStore!</h4>
    <h4 class="text-center"> You will receive an email with info!</h4>
  </div>
</div>
