<div class="d-flex align-items-center h-100 justify-content-center mt-5">
  <div class="h-auto p-3 rounded bg-light block-shadow">
    <h1 class="text-center p-3 rounded bg-white">Request form was submitted</h1>
    <div>
      <h4 class="text-center">You should receive an email with link for confirmation</h4>
      <h4 class="text-center">Follow the link to confirm the order</h4>
    </div>
  </div>
</div>
