<div>
  <% if flash[:notice].present? %>
    <p id="notice" class="text-info text-center"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:error].present? %>
    <p id="error" class="text-danger text-center"><%= flash[:error] %></p>
  <% end %>
</div>
