<% if @car_records_in_saved_collection.include?(car_record) %>
  <div class="btn btn-success remove_from_collection_btn" record_id="<%= car_record.id %>">Saved</div>
<% else %>
  <div class="btn btn-outline-success save_to_collection_btn" record_id="<%= car_record.id %>">Save</div>
<% end %>
