<div class="d-flex align-items-center h-100 mt-5">
  <div class="container h-auto col-md-6 rounded bg-light p-3 block-shadow">
    <h1>Sale car</h1>
    <%= render 'form', car_record: @car_record %>
  </div>
</div>
