p, label, a, div {
  font-size: medium;
}

a {
  font-weight: bold;
  color: black;

  &:hover {
      text-decoration: underline;
      color: black;
  }
}

.custom-nav-style{
  a {
    color: white;
    font-size: 18px;
    display: inline-block;

    &:hover {
      transform: scale(1.05);
    }
  }
}

#notice {
    color: green;
    font-size: larger;
}
  
  .field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
  }
  
  #error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
  
    h2 {
      text-align: left;
      font-weight: bold;
      padding: 5px 5px 5px 15px;
      font-size: larger;
      margin: -7px;
      margin-bottom: 0px;
      background-color: #c00;
      color: #fff;
    }
  
    ul li {
      font-size: medium;
      list-style: square;
    }
  }